{% extends 'baseTriagem.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <title>Atendimentos aguardando</title>
</head>
<body>
    <div class='container'>
            <br>
            
            <br>
            <br>
       
                <div class='container'>
                    <form action="" method="get">
                        <div class="input-group">
                            <input type="date" name="filter" id="filter" class="form-control" placeholder="Pesquisar por data" aria-label="Pesquisar por data" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="submit" >Pesquisar</button>
                            </div>
                          </div>
                    </form>
                </div>
            
                <a href="{% url 'updateAttendanceTriagem' %}" id="attendanceUrl" style="visibility: hidden;"></a>
               <br><br><br>
            <div class="container">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Ficha</th>
                        <th scope="col">Nome completo</th>
                        <th scope="col">Data de nascimento</th>
                        <th scope="col">Criação do atendimento</th>
                        <th scope="col">Horário</th>
                        <th scope="col">Status</th>
                        <th scope="col">Atender?</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for attendance in attendances %}
                        <tr>
                            <td scope="row">{{ attendance.num }}</td>
                            <th scope="row">{{attendance.patient.name}}</th>
                            <td scope="row">{{attendance.patient.birth_date}}</td>
                            <td scope="row">{{attendance.created_at}}</td>
                            <td scope="row">{{attendance.creation_hour}}</td>
                            <td scope="row">{{attendance.status}}</td>
                            <td scope="row"> <input class="form-check-input" style="margin-left: 20px; vertical-align: middle !important; position: relative !important;"type="checkbox" name="" id="" onclick="redirect('{{attendance.id}}', '{{attendance.num}}')"> </td>

                        </tr>
                        {% endfor %} 
                    </tbody>
                  </table>
            </div>

             
    </div>

    <script>
        function redirect(id, ficha) {
            const url = document.getElementById('attendanceUrl').href;
            const query = `?id=${id}&ficha=${ficha}`;
            document.location.reload(true);
            window.open(url + query);
        }
    </script>



{% bootstrap_javascript jquery='full' %}
</body>
</html>
{% endblock %}