{% extends 'basePharmacy.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <title>Farmácia!</title>
</head>
<body>
    <div class='container'>
        <center>
            <br>
            {% bootstrap_messages %}
            <br>
            <a href="https://www.qries.com/">
                <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
                width=150" height="70">
             </a>
             <a href="https://www.qries.com/">
                <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
                width=150" height="70">
             </a>
             <a href="https://www.qries.com/">
                <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
                width=150" height="70">
             </a>
             <br>
             <a href="https://www.qries.com/">
                <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
                width=150" height="70">
             </a>
        </center>
             
    </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>
{% endblock %}