{% extends 'baseLaboratorio.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <title>Laboratório!</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="{% static 'js/indexlab.js' %}"></script>
</head>
<body>
    <div class='body-content'>
        <br>
        {% bootstrap_messages %}
        <br>

        <div class="row">
            <div class="col-4 alert alert-primary" role="alert">
                <span>Olá, {{ user_name }}! Seja bem-vindo ao laboratório!</span>
                
            </div>
            <div class="col-4">
                
            </div>
            <div class="col-4 alert alert-dark" role="alert">
                <p>Data/Hora: <span id="datetimebox"></span> </p>
                <script>
                    setInterval(() => {
                        getDatetime();
                    }, 1000)

                </script> 
            </div>

        </div>



        <div class="options-div">
            <button type="button" onclick="redirectTo('getAttendancesTriagem')" class="btn btn-secondary option-button">
                <div class="row">
                    <div class="col-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-capsule" viewBox="0 0 40 20">
                            <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                        </svg>
                    </div>
                    <div class="col-9 option-text "><span>Requisições pendentes</span></div>
                </div>
            </button>

            <button type="button" onclick="redirectTo('getAttendancesTriagem')" class="btn btn-secondary option-button">
                <div class="row">
                    <div class="col-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 40 20">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                    </div>
                    <div class="col-9 option-text "><span>Exibir requisições finalizadas</span></div>
                </div>
            </button>

            <button type="button" onclick="redirectTo('createExam')" class="btn btn-secondary option-button">
                <div class="row">
                    <div class="col-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 40 20">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Z"/>
                            <path d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z"/>
                        </svg>
                    </div>
                    <div class="col-9 option-text "><span>Cadastrar exame</span></div>
                </div>
            </button>

            <button type="button" onclick="redirectTo('editExams')" class="btn btn-secondary option-button">
                <div class="row">
                    <div class="col-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 40 20">
                            <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
                            <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
                            <path d="M9.979 5.356a.5.5 0 0 0-.968.04L7.92 10.49l-.94-3.135a.5.5 0 0 0-.926-.08L4.69 10H4.5a.5.5 0 0 0 0 1H5a.5.5 0 0 0 .447-.276l.936-1.873 1.138 3.793a.5.5 0 0 0 .968-.04L9.58 7.51l.94 3.135A.5.5 0 0 0 11 11h.5a.5.5 0 0 0 0-1h-.128L9.979 5.356Z"/>
                        </svg>
                    </div>
                    <div class="col-9 option-text "><span>Editar exames cadastrados</span></div>
                </div>
            </button>
        </div>

        <div class="row">
            <div class="col-md-5 alert alert-info" role="alert">
                <div class="col-md-12">
                    <h4>Sobre a Você</h4>
                    <ul>
                        <li>Pacientes triados: <b></b></li>
                        <li>Atendimentos finalizados: <b></b></li>
            
                    </ul>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 alert alert-info" role="alert">
                <div class="col-md-12">

                    <h4>Sobre a Unidade</h4>
                    <ul>
                        <li>Pacientes cadastrados: <b>{{ qty_total_patients }}</b></li>
                        <li>Atendimentos finalizados: <b>{{ qty_total_finished_attendance }}</b></li>
                        <li>Atestados emitidos: <b>{{ qty_total_sick_notes }}</b></li>
                        <li>Exames solicitados: <b>{{ qty_total_exams_orders }}</b></li>
                        <li>Medicamentos solicitados: <b>{{ qty_total_medications_orders }}</b></li>
                        <li>Funcionários ativos: <b>{{ qty_total_employees }}</b></li>
                    </ul>
                </div>
            </div>

        </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>
{% endblock %}