{% extends 'baseConsultorio.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <title>Historico paciente</title>

    <script src="{% static '/js/viewatendimentoref.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/stylehistoricopaciente.css' %}">
</head>
<body>
    <div class='body-content'>
            
            <br>
            {% bootstrap_messages %}
            <br>
     
            {% if patient %}



            <div class="row options-div" style="padding: 0 !important; gap: 8px">
                <button type="button" onclick="redirectAttendance('createPillOrder', '{{attendance.id}}')" class="col btn btn-secondary option-button">
                    <div class="row">
                        <div class="col-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-capsule" viewBox="0 0 40 20">
                                <path d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429l4.243 4.242Z"/>
                            </svg>
                        </div>
    
                        <div class="col-9 option-text ">Solicitar medicamentos</div>
                    </div>
                  
                </button>

                <button type="button" onclick="redirectAttendance('createSickNote', '{}')" class="col btn btn-secondary option-button">
                    <div class="row">
                        <div class="col-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-capsule" viewBox="0 0 40 20">
                                <path d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429l4.243 4.242Z"/>
                            </svg>
                        </div>
    
                        <div class="col-9 option-text ">Solicitar exames</div>
                    </div>
                  
                </button>
    
                <button type="button" onclick="redirectAttendance('viewHistory','{{patient.id}}')" class="col btn btn-secondary option-button">
                    <div class="row">
                        <div class="col-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 40 20">
                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                        </div>
    
                        <div class="col-9 option-text ">Exibir histórico</div>
                    </div>
                  
                </button>
    
    
                <button type="button" onclick="redirectAttendance('createSickNote', '{{attendance.id}}')" class="col btn btn-secondary option-button">
                    <div class="row">
                        <div class="col-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-journal-medical" viewBox="0 0 40 20">
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v.634l.549-.317a.5.5 0 1 1 .5.866L9 6l.549.317a.5.5 0 1 1-.5.866L8.5 6.866V7.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L7 6l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V4.5A.5.5 0 0 1 8 4zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                            </svg>
    
    
                        </div>
    
                        <div class="col-9 option-text ">Emitir atestados</div>
                    </div>
                </button>
    
                <button type="button" onclick="redirectTo('viewAttendances')" class="col btn btn-secondary option-button">
                    <div class="row">
                        <div class="col-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 40 20">
                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                        </div>
    
                        <div class="col-9 option-text ">Finalizar atendimento</div>
                    </div>
                </button>
    
    
            </div>

                <div style="border: 1px solid grey; border-radius: 8px; padding: 16px">
                    <h4 style="font-size: 1.25rem">Detalhes do paciente</h4>
                    <div class="row" style="padding: 0">
                        <div class="col-7 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Nome</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{patient.name}}" disabled>
                        </div>
                        <div class="col-3 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Idade</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" disabled value="{{patient.age}} anos">
                        </div>
                        <div class="col-2 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Sexo</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" disabled value="{{patient.gender}}">
                        </div>
                    </div>
    
                    <div class="row mt-4" style="padding: 0">
                        <div class="col-7 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Data/hora entrada</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" disabled value="{{attendance.created_at}}">
                        </div>
                        <div class="col-3 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Nº Atendimento</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{attendance.num}}" disabled>
                        </div>
                        <div class="col-2 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Prioridade</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" disabled value="{{triagem.priority}}">
                        </div>
    
    
                    </div>
                </div>
            
            {% endif %}
              
            <br>

        {% if attendance %}
                   
            <div style="border: 1px solid grey; border-radius: 8px; padding: 16px">
                {% if attendance.triage_reference %}
                    <h4 style="font-size: 1.25rem">Detalhes da triagem</h4>
                    <div class="row" style="padding: 0">
                        <div class="col-3 input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Temperatura</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{attendance.triage_reference.vital_data.temperature}} °C" disabled>
                        </div>
                        <div class="col-3 input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Pressão</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" disabled value="{{attendance.triage_reference.vital_data.pas}}/{{attendance.triage_reference.vital_data.pad}}">
                        </div>
                        <div class="col-3 input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Saturação</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" disabled value="{{attendance.triage_reference.vital_data.saturation}}%">
                        </div>

                        <div class="col-3 input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">BPM: </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" disabled value="{{attendance.triage_reference.vital_data.heart_beats}}">
                        </div>
                    </div>

                    <h4 style="font-size: 1.25rem">Descrição</h4>
                    <textarea class="form-control" id="detailsTriagem" name="detailsTriagem" rows="10" cols="40" disabled>
                        {{attendance.triage_reference.description}}
                    </textarea>
                {% endif %}

                                            
            </div>        
          
        {% else %}
            <div class="container">
                <h3 style="text-align: center;">Nenhum atendimento!</h3>
            </div>
        {% endif %}
    </div>


{% bootstrap_javascript jquery='full' %}
</body>
</html>
{% endblock %}