{% extends 'baseConsultorio.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <title>Solicitar Medicações!</title>
    <link rel="stylesheet" href="{% static 'style/style.css'%}">

</head>
<body>
    <div class='container'>
        <center>
            <br>
            {% bootstrap_messages %}
            <br>
            <form action="{% url 'solicitarMedicamentoConsultorio' %}" method="get">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="patient_span">Nome/CNS do paciente: </span>
                    </div>
                    <input list="attendances" type="text" id="attendance_data" name="attendance_data" class="form-control" aria-label="Default" aria-describedby="attendance_data" onchange="this.form.submit()">
                    <button class="btn btn-outline-secondary" type="submit" >Pesquisar</button>
                </div>

                <datalist id="attendances">
                    {% for attendance in attendances %}
                        <option value="{{ attendance.id }}"> {{ attendance.patient }} </option>
                    {% endfor %}   
                </datalist>
            </form>
            <form action="{% url 'solicitarMedicamentoConsultorio' %}" method="post" class="form" autocomplete="on">
                {% csrf_token %}
                
                <div id="patient_values">
               
                        <input type="number" name="attendance_id" value="{{ attendanceData.id }}" style="visibility: hidden;">
                        <div class="row">
                            <div class="col-8 form-floating details-field">
                                <label for="namePatient">Nome</label>
                                <input type="text" class="form-control" id="namePatient" value="{{ attendanceData.patient.name }}" readonly>

                            </div>
                            <div class="col-4 form-floating details-field">
                                <label for="datePatient">Data de nascimento</label>
                                <input type="text" class="form-control" id="datePatient" value="{{ attendanceData.patient.birth_date }}" readonly>
                            </div>
                        </div>

                        <div class="row" style="margin-top:  24px">
                            <div class="col-8 details-field">
                                <label for="cnsPatient">CNS</label>
                                <input type="text" class="form-control" id="cnsPatient" value="{{ attendanceData.patient.cns }}" readonly>
                            </div>

                            <div class="col-4 details-field">
                                <label for="attendanceHour">Data da solicitação: </label>
                                <input type="text" class="form-control" id="attendanceHour" readonly>
                            </div>
                        </div>

                        <div class="form-floating details-field" style="margin-top:  24px" onload="updateHour();">
                            <label for="reqMed">Requisição da medicação: </label>
                            <textarea class="form-control" id="reqMed" name="reqMed" rows="4" cols="40"> </textarea>
                        </div>

                        <div class="form-floating" style="margin-top: 24px">
                            <input class="form-check-input" type="checkbox" id="confirm" name="confirm" onclick="showButton();updateHour();">
                            <label class="form-check-label" for="confirm">Dados confirmados?</label>
                        </div>
            
                </div>
                    <br>
                    <br>
                {% buttons %}
                    <button type="menu" class="btn btn-secondary"><a href="{% url 'indexClinic' %}" style="color: white; text-decoration:none">Voltar</a></button>
                    <button type="submit" class="btn btn-success" id='btnNewMedRequest' disabled>Solicitar medicação</button>
                {% endbuttons %}
                
      
            </form>      

        </center>
             
    </div>

    <script>

        function showButton() {
            const checked = document.getElementById('confirm').checked;
            console.log(checked);
            if (!checked)
                document.getElementById('btnNewMedRequest').setAttribute('disabled', 'disabled')
            else
                document.getElementById('btnNewMedRequest').removeAttribute('disabled')
        }

        function updateHour() {
            const now = Date.now();
            const date = new Date(now);
            const div = document.getElementById('attendanceHour');
            if (div) {
                div.value = date.toLocaleDateString() + ' às ' + date.toLocaleTimeString().slice(0,5);
            }
        }      
    </script>  

{% bootstrap_javascript jquery='full' %}
</body>
</html>
{% endblock %}