{% extends 'baseConsultorio.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <title>Solicitar Medicação!</title>
</head>
<body>
    <div class='container'>
        <center>
            <br>
            {% bootstrap_messages %}
            <br>
            <form action="{% url 'newAttendance' %}" method="get">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="patient_span">Nome/CNS do paciente: </span>
                    </div>
                    <input list="patients" type="text" id="patient_data" name="patient_data" class="form-control" aria-label="Default" aria-describedby="patient_data" onchange="this.form.submit()">
                    <button class="btn btn-outline-secondary" type="submit" >Pesquisar</button>
                </div>

                <datalist id="patients">
                    {% for attendance in attendances %}
                        <option value="{{ attendance.id }}"> {{ attendance.patient }} </option>
                    {% endfor %}   
                </datalist>
            </form>
            <form action="{% url 'newAttendance' %}" method="post" class="form" autocomplete="on">
                {% csrf_token %}
                
                <div id="patient_values">
               
                        <input type="number" name="patient_id" value="{{ userData.id }}" style="visibility: hidden;">
                        <div class="form-floating">
                            <label for="namePatient">Nome</label>
                            <input type="text" class="form-control" id="namePatient" value="{{ userData.name }}" readonly>
                        </div>
                        <div class="form-floating">
                            <label for="cnsPatient">Data de nascimento</label>
                            <input type="datetime" class="form-control" id="datePatient" value="{{ userData.birth_date }}" readonly>
                        </div>
                        <div class="form-floating">
                            <label for="cnsPatient">CNS</label>
                            <input type="text" class="form-control" id="cnsPatient" value="{{ userData.cns }}" readonly>
                        </div>
                        <div class="form-floating" onload="updateHour();">
                            <label for="attendanceHour">Data do atendimento: </label>
                            <input type="datetime" class="form-control" id="attendanceHour" readonly>
                        </div>
                        <div class="form-floating" onload="updateHour();">
                            <label for="reqMed">Requisição do medicamento: </label>
                            <textarea class="form-control" id="reqMed" rows="4" cols="40"> </textarea>
                        </div>
                        <div class="form-floating">
                            <input class="form-check-input" type="checkbox" id="confirm" name="confirm" onclick="showButton();updateHour();">
                            <label class="form-check-label" for="confirm">Dados confirmados?</label>
                        </div>
            
                </div>
                    <br>
                    <br>
                {% buttons %}
                    <button type="submit" class="btn btn-success" id='btnNewAttendance' style="visibility: hidden;">Adicionar Atendimento</button>
                    <button type="menu" class="btn btn-info"><a href="{% url 'indexClinic' %}" style="color: white; text-decoration:none">Voltar</a></button>
                {% endbuttons %}
                
      
            </form>      

        </center>
             
    </div>

    <script>

        function showButton() {
            const checked = document.getElementById('confirm').checked;
    
            if (checked)
                document.getElementById('btnNewAttendance').style.visibility = 'visible';
            else
                document.getElementById('btnNewAttendance').style.visibility = 'hidden';
        }

        function updateHour() {
            const now = Date.now();
            const date = new Date(now);
            const div = document.getElementById('attendanceHour');
            if (div) {
                div.value = date.toLocaleDateString() + ' às ' + date.toLocaleTimeString().slice(0,5);
            }
        }      
    </script>  

{% bootstrap_javascript jquery='full' %}
</body>
</html>
{% endblock %}