{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <script src="{% static 'js/script.js' %}"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Recepção!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'indexReception'%}">Home <span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'newAttendance' %}">Novo atendimento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'newPatient'%}">Cadastrar paciente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'viewAttendances' %}">Visualizar atendimentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#aboutModal">Sobre</a>
            </li>
          </ul>
        </div>
      </nav>


      <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sobre o HelpSUS!</h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <span>
                <b>HelpSUS!</b> foi desenvolvido por Tibério Gadelha como tema de TCC para o curso de Ciência da Computação!
              </span>
              <span> 

              </span>

            </div>
            </div>
        </div>
        </div>
{% block content %} {% endblock %}