{% extends 'baseReception.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <title>Sign-up</title>
</head>
<body>
    <div class='container'>
        <center>
            <br>
            {% bootstrap_messages %}
            <br>
            <form action="{% url 'newPatient' %}" method="post" class="form" autocomplete="on">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <button type="reset" class="btn btn-warning">Limpar dados</button>
                    <button type="menu" class="btn btn-secondary"><a href="{% url 'index' %}">Voltar</a></button>
                {% endbuttons %}
                
      
            </form>      

        </center>
             
    </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>
{% endblock %}