{% extends 'baseReception.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <title>Atendimento confirmado</title>
</head>
<body>
    <div class='container'>
        <center>
            <br>
            {% bootstrap_messages %}
            <br>
        
        
           
            
            <br>
            <div class="container">
                <div class="form-control">
                    <form action="" method="get">
                        <label for="filter">Pesquisar por data</label>
                        <input type="date" class="form-control" id="filter"  placeholder="today()">
                        
                    </form>
                </div>
               <br><br><br>
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Ficha</th>
                        <th scope="col">Nome completo</th>
                        <th scope="col">Data de nascimento</th>
                        <th scope="col">Criação do atendimento</th>
                        <th scope="col">Status</th>
                        <th scope="col">Excluir?</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for attendance in attendances %}
                        <tr>
                            <td scope="row">{{ attendance.num }}</td>
                            <th scope="row">{{attendance.patient.name}}</th>
                            <td scope="row">{{attendance.patient.birth_date}}</td>
                            <td scope="row">{{attendance.created_at}}</td>
                            <td scope="row">{{attendance.status}}</td>
                            <td scope="row"><a href=""><img src="{% static 'imgs/delete.png' %}" alt="X" style="width: 19px;"> </a></td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                  </table>
            </div>
    
        </center>
             
    </div>

    <script>
        const moment = new Date(Date.now()).toLocaleDateString();
        const paragraph = document.getElementById('moment_p');
        const message = `Atendimento criado em: <b>${moment}</b>`;
        paragraph.innerHTML = message;

        const horario = new Date(Date.now()).toLocaleTimeString();
        const horarioParagraph = document.getElementById('horario_p');
        const messsageParagraph = `Horário: às <b>${horario}</b>`;
        horarioParagraph.innerHTML = messsageParagraph;

        
    </script>


{% bootstrap_javascript jquery='full' %}
</body>
</html>
{% endblock %}